<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Aula 34</title>
</head>
<body>
    <div id='app'>
        <p>Produtos</p>
        <ul>
            <template v-for="(produto, indice) in produtos">
                <li>{{ produto.nome }}</li>
                <li class="separador"></li>
                <template v-if="indice == (produtos.length - 1)">
                    <li class="ultimaLinha"> </li>
                </template>
            </template>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                produtos: [
                    { id: 1, nome: 'Monitor' },
                    { id: 2, nome: 'Teclado' },
                    { id: 3, nome: 'Mouse' },
                    { id: 4, nome: 'Processador' }
                ]
            }
        });
    </script>
</body>
</html>
<!--
    ASSIM COMO NO V-IF, NO V-FOR TAMBÉM PODEMOS USAR A "TAG" TEMPLATE
    APENAS PARA PRATICAR, EU CRIEI UMA SEGUNDA CLASSE E DECIDI ATRIBUIR AO ÚLTIMO ELEMENTO DO FOR
-->