<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <title>Aula 25</title>
</head>
<body>
    <div id='app'>
        <ul>
            <li>Olá VueJS</li>
            <li>Item 1</li>
            <!--
                DESSA FORMA SERÁ APRESENTADO NO DOM, A TAG DIV
            <div v-if="mostrar">
                <li>Item 2</li>
                <li>Item 3</li>
            </div>
            -->
            <template v-if="mostrar">
                <li>Item 2</li>
                <li>Item 3</li>
            </template>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                mostrar: true
            }
        });
    </script>
</body>
</html>

<!--
    V-IF É UMA DIRETIVA.
    E TODA DIRETIVA DEVE SER ANEXADA EM APENAS UM ELEMENTO HTML
-->