<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <title>Aula 24</title>
</head>
<body>
    <div id='app'>
        <p v-if="nota === 'A'">Parabénsm, você tirou um "A"!</p>
        <p v-else-if="nota === 'B'">Você tirou um "B", mas pode melhorar!</p>
        <p v-else-if="nota === 'C'">Você precisa melhorar, estude mais. Sua nota é: "C"</p>
        <p v-else>Nota ainda não publicada.</p>
        <input v-model="nota" placeholder="Entre com a nota:">
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                nota: ''
            }
        });
    </script>
</body>
</html>